<footer>
    <div class="mnftrcrd">
        <div class="card  ftrcrd">
            <div class="card-body">
                <p class="card-title"><b>Support</b></p>
                <br>
                <p class="card-text">Help Centre</p>
                <p class="card-text">AirCover</p>
                <p class="card-text">Anti-discrimination</p>
                <p class="card-text">Disability Support</p>
                <p class="card-text">Cancellation Options</p>
                <p class="card-text">Report Neighbourhood Concern</p>
            </div>
        </div>

        <div class="card  ftrcrd">
            <div class="card-body">
                <p class="card-title"><b>Hosting</b></p>
                <br>
                <p class="card-text">Hosting Details</p>
                <p class="card-text">Add your home</p>
                <p class="card-text">AirCover for Hosts</p>
                <p class="card-text">Hosting resources</p>
                <p class="card-text">Community forum</p>
                <p class="card-text">Hosting responsibly</p>
            </div>
        </div>

        <div class="card  ftrcrd">
            <div class="card-body">
                <p class="card-title"><b>WonderLust</b></p>
                <br>
                <p class="card-text">Newsroom</p>
                <p class="card-text">New features</p>
                <p class="card-text">Careers</p>
                <p class="card-text">Investors</p>
                <p class="card-text">Cancellation Options</p>
                <p class="card-text">WonderLust.org emergency stays</p>
            </div>
        </div>

        <div class="card  ftrcrd">
            <div class="card-body">
                <p class="card-title"><b>Contact</b></p>
                <br>
                <p class="card-text"><b>Address : </b></p>
                <p class="card-text">WonderLust India Pvt. Ltd, </p>
                <p class="card-text"> Sez Road,</p>
                <p class="card-text">Chandaka Industrial Estate,</p>
                <p class="card-text"> Patia, Bhubaneswar,</p>
                <p class="card-text">Odisha 751024</p>
            </div>
        </div>

    </div>

    <hr>

    <div class="f-info">
        <div class="f-info-social">
            <a href="/fb"><i class="fa-brands fa-facebook"></i></a>
            <a href="/ig"><i class="fa-brands fa-instagram"></i></a>
            <a href="/tw"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <div class="f-info-brand">WonderLust Pvt Ltd.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms & Conditions</a>
            <a href="/sbout">About Us</a>
            <a href="/contact">Contact Us</a>
        </div>
    </div>

    <div class="copyright">

        <p>&copy;2023-2024 WonderLust, Inc.</p>

    </div>

</footer>
