<!-- Error EJS Templete -->
<% layout('./layouts/boilerplate') %>
<div class="alert alert-danger col-8 offset-2 mt-3 d-flex align-item-centre" role="alert">
    <i class="fa-solid fa-circle-exclamation d-flex align-item-center" style="color: #7f151c;"></i>
    <h5>Error Caught : <%=message%></h5>
    </div>
